# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package files
*.jar
*.war
*.ear
*.hprof

# Dependency directories
target/
lib/

# Eclipse project files
.classpath
.project
.settings/

# IntelliJ project files
out/
.idea/
*.iml
*.iws

# NetBeans project files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Gradle
build/
